<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <mat-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Group</ng-template>
                    <div>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" label="Locations">
                <form [formGroup]="secondFormGroup">
                    <div>
                        <button mat-button matStepperNext>Next</button>
                        <button mat-button matStepperPrevious>Back</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" label="Payment Info">
                <form [formGroup]="secondFormGroup">
                    <div>
                        <button mat-button matStepperNext>Next</button>
                        <button mat-button matStepperPrevious>Back</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" label="Sources">
                <form [formGroup]="secondFormGroup">
                    <div>
                        <button mat-button matStepperNext>Next</button>
                        <button mat-button matStepperPrevious>Back</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" label="Users">
                <form [formGroup]="secondFormGroup">
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepper.reset()">Reset</button>
                    </div>
                </form>
            </mat-step>
        </mat-stepper>
    </div>
</body>

</html>